SERVICE_NAME=delivery-service
PORT=3009
NODE_ENV=development

DATABASE_URL=postgres://postgres:postgres@localhost:5432/delivery_service

JWT_SECRET=change-me-in-production

ORDER_SERVICE_URL=http://localhost:3006
DRIVER_SERVICE_URL=http://localhost:3008
