SERVICE_NAME=order-service
PORT=3006
NODE_ENV=development

DATABASE_URL=postgres://postgres:postgres@localhost:5432/order_service

JWT_SECRET=change-me-in-production

CART_SERVICE_URL=http://localhost:3005
RESTAURANT_SERVICE_URL=http://localhost:3003
